body {
  background-color: #000125;
  font-family: Helvetica, Verdana, sans-serif;
}

h1 {
  color: white;
  font-family: Helvetica, Verdana, sans-serif;
}

h2 {
  color: white;
  font-family: Helvetica, Verdana, sans-serif;
}

p {
  color: white;
  font-family: Helvetica, Verdana, sans-serif;
}

a:link {
  color: aqua;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}            

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}            

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
